Repository Armor-test/map-proxy-716, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/squad-ux, @Armor-test/dept-logging, @Armor-test/team-research, @Armor-test/dept-release, @Armor-test/team-logging, @Armor-test/squad-reporting, @Armor-test/grp-payments, @Armor-test/team-security, @Armor-test/squad-qa, @Armor-test/squad-frontend, @Armor-test/unit-cloud, @Armor-test/team-frontend, @Armor-test/squad-research, @Armor-test/dept-data, @Armor-test/dept-reporting, @Armor-test/dept-security, @Armor-test/dept-api, @Armor-test/squad-payments, @Armor-test/squad-cloud, @Armor-test/squad-performance, @Armor-test/team-governance, @Armor-test/grp-storage, @Armor-test/dept-identity, @Armor-test/grp-ui, @Armor-test/team-notifications, @Armor-test/squad-mobile, @Armor-test/team-reporting, @Armor-test/unit-governance, @Armor-test/unit-test, @Armor-test/dept-ui, @Armor-test/grp-search, @Armor-test/grp-api, @Armor-test/dept-automation, @Armor-test/squad-apps, @Armor-test/dept-notifications, @Armor-test/squad-cache, @Armor-test/unit-design, @Armor-test/grp-reporting, @Armor-test/dept-test, @Armor-test/dependency-team, @Armor-test/security, @Armor-test/auth-team, @Armor-test/compliance, @Armor-test/ci-team, @Armor-test/devops

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/grp-ui, @Armor-test/team-notifications, @Armor-test/squad-mobile

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/team-logging, @Armor-test/squad-reporting

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/dept-api, @Armor-test/squad-reporting, @Armor-test/squad-payments

Add src/main.py
  src/main.py
Owners: @Armor-test/team-frontend, @Armor-test/grp-storage

Add src/index.js
  src/index.js
Owners: @Armor-test/team-frontend, @Armor-test/grp-api, @Armor-test/team-security

.github/CODEOWNERS:

# CODEOWNERS file for map-proxy-716
# Global owners - will be requested for all PRs
* @Armor-test/squad-ux @Armor-test/dept-logging @Armor-test/team-research

# Directory ownership
/spec/ @Armor-test/dept-logging @Armor-test/dept-release
/docs/ @Armor-test/team-logging @Armor-test/squad-reporting
/services/ @Armor-test/grp-payments @Armor-test/team-security @Armor-test/squad-qa
/core/ @Armor-test/squad-frontend @Armor-test/unit-cloud
/config/ @Armor-test/team-research @Armor-test/team-frontend
/assets/ @Armor-test/squad-research @Armor-test/dept-data
/ui/ @Armor-test/dept-reporting @Armor-test/dept-security
/test/ @Armor-test/dept-api @Armor-test/squad-reporting @Armor-test/squad-payments
/utils/ @Armor-test/squad-cloud @Armor-test/squad-performance @Armor-test/team-governance
/modules/ @Armor-test/grp-storage @Armor-test/dept-identity
/src/ @Armor-test/grp-ui @Armor-test/team-notifications @Armor-test/squad-mobile
/tools/ @Armor-test/unit-cloud @Armor-test/team-frontend @Armor-test/squad-payments
/vendor/ @Armor-test/team-governance @Armor-test/team-reporting @Armor-test/dept-reporting

# File type ownership
*.h @Armor-test/unit-governance @Armor-test/unit-test
*.sh @Armor-test/dept-ui @Armor-test/squad-ux @Armor-test/squad-reporting
*.html @Armor-test/dept-identity @Armor-test/grp-search
*.c @Armor-test/grp-api @Armor-test/dept-automation @Armor-test/unit-governance
*.java @Armor-test/team-governance @Armor-test/team-reporting @Armor-test/squad-apps
*.py @Armor-test/team-frontend @Armor-test/grp-storage
*.ini @Armor-test/dept-notifications @Armor-test/squad-cache
*.proto @Armor-test/unit-test @Armor-test/grp-api
*.js @Armor-test/team-frontend @Armor-test/grp-api @Armor-test/team-security
*.lock @Armor-test/squad-frontend @Armor-test/team-governance @Armor-test/grp-storage
*.yml @Armor-test/unit-design @Armor-test/squad-reporting @Armor-test/dept-ui
*.sql @Armor-test/dept-notifications @Armor-test/dept-automation
*.md @Armor-test/dept-api @Armor-test/grp-reporting
*.graphql @Armor-test/squad-mobile @Armor-test/dept-test
*.kt @Armor-test/grp-payments @Armor-test/unit-test

# Security and special files
package.json @Armor-test/dependency-team @Armor-test/security
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
/src/**/security/ @Armor-test/security @Armor-test/compliance
Jenkinsfile @Armor-test/ci-team @Armor-test/devops
